<div class="container">
  <div class="row">
    <div class="text-primary">
      <p><%= @movie.title %><br></p> 
      <p><%= @movie.description %><br></p>
      <p><%= @movie.imdb %><br></p>
    </div>
  </div>
</div>